@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-primary: 'Merriweather';
    --font-secondary: 'Roboto';

    --color-neutral: 0deg 0% 0%;
    --color-primary: 7deg 90% 16%;
    --color-secondary: 187deg 90% 16%;
    --color-surface: 46deg 24% 93%;
    --color-surface-container: 46deg 24% 89%;
    --color-outline: 46deg 24% 86%;
    --color-divider: 46deg 24% 81%;
  }
}
