---
import { Image } from 'astro:assets';
import MainLayout from '@/layouts/MainLayout.astro';
import PageHeader from '@/components/PageHeader.astro';
import ContactForm from '@/components/ContactForm.astro';
import bakeryImage from '@/assets/austin-park-xAS8pWGMMGA-unsplash.jpg';
---

<MainLayout>
  <section>
    <PageHeader
      heading="Our Sweet Story"
      subheading="Our journey is a testament to the joy of baking, and we're excited to share our story with you."
    />
    <div class="py-16 lg:py-24">
      <div
        class="container flex flex-col lg:flex-row lg:items-center gap-[1.875rem] lg:gap-16"
      >
        <div class="flex-1">
          <Image
            src={bakeryImage}
            alt="our bakery"
            width={576}
            class="object-cover aspect-video lg:aspect-4/3 rounded-2xl shadow-hard"
          />
        </div>
        <div class="flex-1 space-y-6">
          <p
            class="font-secondary text-neutral/60 text-[1rem] xl:text-[1.125rem] leading-relaxed"
          >
            At Sweet Delights Bakery, our story began with a passion for
            creating delicious, homemade treats that warm the heart and
            tantalize the taste buds. Founded by a team of dedicated bakers with
            a deep love for the art of baking, our bakery has become a beloved
            local gem known for its commitment to quality and the warm,
            welcoming atmosphere it provides.
          </p>
          <p
            class="font-secondary text-neutral/60 text-[1rem] xl:text-[1.125rem] leading-relaxed"
          >
            Our journey started in a cozy kitchen, and as our creations gained
            popularity, we decided to share the joy of our baked goods with the
            community. Today, we invite you to experience the magic of Sweet
            Delights Bakery. From our signature pastries to our artisanal bread,
            every bite tells a story of tradition, creativity, and a whole lot
            of love.
          </p>
        </div>
      </div>
    </div>
    <div class="py-16 lg:py-24 bg-surface-container">
      <div
        class="container flex flex-col lg:flex-row-reverse lg:items-center gap-[1.875rem] lg:gap-16"
      >
        <div class="flex-1">
          <Image
            src={bakeryImage}
            alt="our bakery"
            width={576}
            class="object-cover aspect-video lg:aspect-4/3 rounded-2xl shadow-hard"
          />
        </div>
        <div class="flex-1 space-y-6">
          <p
            class="font-secondary text-neutral/60 text-[1rem] xl:text-[1.125rem] leading-relaxed"
          >
            As we've grown, our commitment to the community and to delivering
            the highest quality products has never wavered. We believe that a
            bakery is more than just a place to satisfy your cravings; it's a
            place where friends gather, families celebrate, and memories are
            made. Our warm, inviting ambiance ensures that every visit to Sweet
            Delights feels like coming home.
          </p>
          <p
            class="font-secondary text-neutral/60 text-[1rem] xl:text-[1.125rem] leading-relaxed"
          >
            Thank you for being a part of our story. We look forward to serving
            you and creating memorable moments with our delightful treats.
            Welcome to Sweet Delights Bakery!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="py-16 lg:py-24 bg-white">
    <div
      class="container flex flex-col lg:flex-row lg:items-center gap-6 lg:gap-16"
    >
      <div class="flex-1">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d195884.7199739243!2d32.76276475!3d39.903376550000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d347d520732db1%3A0xbdc57b0c0842b8d!2sAnkara!5e0!3m2!1str!2str!4v1701429555361!5m2!1str!2str"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="w-full aspect-video lg:aspect-4/3 rounded-2xl shadow-hard"
        ></iframe>
      </div>
      <div class="flex-1 flex flex-col gap-4">
        <h2
          class="font-primary font-bold text-neutral text-[1.5rem] lg:text-[2rem] xl:text-[3rem]"
        >
          Get in Touch
        </h2>
        <ContactForm />
      </div>
    </div>
  </section>
</MainLayout>
