---
import type { HTMLAttributes } from 'astro/types';
import { cva } from 'class-variance-authority';
import Children from '@/components/Children.astro';

export const buttonStyles = cva(
  'flex items-center justify-center whitespace-nowrap rounded-md font-primary text-heading-xl focus-visible:outline-none',
  {
    variants: {
      variant: {
        primary:
          'ring-brand-hover bg-fill-brand text-on-bg-fill-brand ring-offset-2 hover:bg-fill-brand-hover hover:shadow-of-bg-fill-brand focus-visible:bg-fill-brand-hover focus-visible:shadow-of-bg-fill-brand focus-visible:ring',
        secondary:
          'ring-fill-hover bg-fill text-on-bg-fill ring-offset-2 hover:bg-fill-hover hover:shadow-of-bg-fill focus-visible:bg-fill-hover focus-visible:shadow-of-bg-fill focus-visible:ring',
      },
      size: {
        medium: 'h-12 gap-2 px-6 font-regular',
        large: 'h-14 gap-3 px-10 font-bold',
      },
    },
    defaultVariants: {
      variant: 'primary',
      size: 'large',
    },
  },
);

type Props = HTMLAttributes<'button'> & {
  variant?: 'primary' | 'secondary';
  size?: 'medium' | 'large';
  asChild?: boolean;
};

const {
  variant,
  size,
  asChild,
  type = 'button',
  class: className,
  ...props
} = Astro.props;

const styles = buttonStyles({ variant, size, className });
---

{
  asChild ? (
    <Children slots={Astro.slots} args={[styles]} />
  ) : (
    <button {type} class={styles} {...props}>
      <slot />
    </button>
  )
}
