---
import type { HTMLAttributes } from 'astro/types';
import { cva } from 'class-variance-authority';

export const buttonStyles = cva(
  'flex items-center justify-center whitespace-nowrap rounded-xl text-white text-xl',
  {
    variants: {
      variant: {
        primary: 'bg-primary hover:bg-primary/90',
        secondary: 'bg-secondary hover:bg-secondary/90',
      },
      size: {
        medium: 'h-12 gap-2 px-6 font-normal',
        large: 'h-14 gap-3 px-10 font-bold',
      },
    },
    defaultVariants: {
      variant: 'primary',
      size: 'large',
    },
  }
);

type Props = HTMLAttributes<'button'> & {
  variant?: 'primary' | 'secondary';
  size?: 'medium' | 'large';
  asChild?: boolean;
};

const {
  variant,
  size,
  asChild,
  type = 'button',
  class: className,
  ...props
} = Astro.props;

const styles = buttonStyles({ variant, size, className });

let children: string = '';

if (asChild && Astro.slots.has('default')) {
  children = await Astro.slots.render('default', [styles]);
}
---

{
  asChild ? (
    <Fragment set:html={children} />
  ) : (
    <button {type} class={styles} {...props}>
      <slot />
    </button>
  )
}
