---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';
import Logo from '@/components/Logo.astro';
import NavLink from '@/components/NavLink.astro';
import Button from '@/components/Button.astro';
import MenuButton from '@/components/MenuButton.astro';
import { cx } from 'class-variance-authority';

type Props = HTMLAttributes<'header'>;

const { class: className, ...props } = Astro.props;
---

<header
  class={cx(
    'fixed left-0 right-0 top-0 z-30 py-[--initial-padding] [--initial-padding:2rem] [--scrolled-padding:2rem] before:absolute before:inset-0 before:-z-10 before:border-b before:border-secondary before:bg-surface before:opacity-[--opacity,0] lg:[--initial-padding:3rem]',
    className,
  )}
  {...props}
>
  <div class="container flex items-center justify-between">
    <Logo />
    <nav aria-label="main" class="hidden items-center gap-12 lg:flex">
      <NavLink href="">Home</NavLink>
      <NavLink href="">Menu</NavLink>
      <NavLink href="">About</NavLink>
      <Button size="medium" asChild>
        {
          (className: string) => (
            <a href="" class={className}>
              <span>Contact</span>
              <Icon
                name="heroicons:arrow-long-right-20-solid"
                class="h-5 w-5"
              />
            </a>
          )
        }
      </Button>
    </nav>
    <MenuButton class="lg:hidden" />
  </div>
</header>

<script>
  import { scrollEffect } from '@/features/header';

  function handleScroll() {
    requestAnimationFrame(scrollEffect);
  }

  document.addEventListener('scroll', handleScroll);
</script>
