---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href = '/', ...props } = Astro.props;
---

<a
  {href}
  class="font-brand text-heading-2xl text-brand lg:text-heading-4xl"
  {...props}
>
  Sweet Delights.
</a>
