---
import type { HTMLAttributes } from 'astro/types';
import { cx } from 'class-variance-authority';

type Props = HTMLAttributes<'a'>;

const { href = '/', class: className, ...props } = Astro.props;
---

<a
  {href}
  class={cx(
    'font-brand text-heading-2xl text-brand lg:text-heading-4xl',
    className,
  )}
  {...props}
>
  Sweet Delights.
</a>
