---
import Logo from '@/components/Logo.astro';
import contactInfo from '@/data/contact-info';
import { Icon } from 'astro-icon/components';

const links = [
  { href: '', text: 'Home', icon: 'heroicons:home-solid' },
  { href: '', text: 'Menu', icon: 'heroicons:cake-solid' },
  { href: '', text: 'About', icon: 'heroicons:building-storefront-solid' },
  { href: '', text: 'Contact', icon: 'heroicons:information-circle-solid' },
];
---

<div
  id="menu"
  role="menu"
  aria-hidden="true"
  class="fixed bottom-0 right-0 top-0 flex w-72 translate-x-0 flex-col justify-between bg-fill-brand-hover aria-hidden:translate-x-72"
>
  <header class="flex justify-center px-6 py-8">
    <Logo class="text-on-bg-fill-brand" />
  </header>
  <nav aria-label="main">
    {
      links.map(({ href, text, icon }) => (
        <a
          {href}
          class="flex gap-6 border-b border-[#500C04] p-6 font-primary text-heading-xl font-regular text-on-bg-fill-brand first:border-y first:bg-fill-brand"
        >
          <Icon name={icon} class="h-6 w-6 text-[#F1EFE8]" />
          {text}
        </a>
      ))
    }
  </nav>
  <footer class="flex justify-center px-6 py-8">
    <a
      href="tel:"
      class="font-secondary font-regular text-on-bg-fill-brand underline"
    >
      {contactInfo.phone.text}
    </a>
  </footer>
</div>
