---
import type { HTMLAttributes } from 'astro/types';
import { cx } from 'class-variance-authority';
import { Image } from 'astro:assets';

type Props = HTMLAttributes<'div'> & {
  image: ImageMetadata;
  title: string;
};

const { image, title, class: className, ...props } = Astro.props;
---

<div
  class={cx(
    'relative aspect-video lg:aspect-4/3 rounded-2xl overflow-hidden shadow-hard',
    className
  )}
  {...props}
>
  <Image src={image} alt={title} height={288} class="h-full object-cover" />
  <div
    class="absolute top-1/2 right-0 bottom-0 left-0 pb-6 flex flex-col-reverse bg-gradient-to-t from-black to-transparent"
  >
    <h3
      class="font-primary font-bold text-white text-[1.25rem] lg:text-[1.5rem] text-center"
    >
      {title}
    </h3>
  </div>
</div>
