---
import type { HTMLAttributes } from 'astro/types';
import { cx } from 'class-variance-authority';

type Props = HTMLAttributes<'a'>;

const { class: className, ...props } = Astro.props;
---

<a
  class={cx(
    'font-primary text-heading-xl font-regular decoration-current hover:underline focus-visible:underline',
    className,
  )}
  {...props}
>
  <slot />
</a>
