<div
  id="overlay"
  aria-hidden="true"
  class="absolute inset-0 backdrop-blur-md aria-hidden:hidden"
>
</div>

<script>
  import { close } from '@/features/menu';

  const overlay = document.getElementById('overlay') as HTMLDivElement;

  overlay.addEventListener('click', close);
</script>
