---
import '@fontsource/pacifico';
import '@fontsource/merriweather/400.css';
import '@fontsource/merriweather/700.css';
import '@fontsource/roboto';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import Overlay from '@/components/Overlay.astro';
import Menu from '@/components/Menu.astro';

type Props = {
  title?: string;
  description?: string;
};

const {
  title = 'Sweet Delights Bakery',
  description = 'Welcome to Sweet Delights Bakery. Explore our menu of artisanal bread, cookies, pastries, and cakes. Join us on a journey of flavors and heartwarming experiences.',
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body
    data-menu-expanded="false"
    class="group relative bg font-primary text after:pointer-events-none after:absolute after:left-0 after:top-0 after:z-50 after:h-full after:w-full after:bg-noise-loose after:opacity-10 after:contrast-0 data-[menu-expanded='true']:overflow-hidden lg:after:bg-noise-dense"
  >
    <div class="relative group-data-[menu-expanded='true']:-translate-x-72">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
      <Overlay />
    </div>
    <Menu />
  </body>
</html>
